[package]
name = "cst-primitives"
version = "0.5.0"
authors = ["crustio"]
edition = "2018"
license = "GPL-3.0"
homepage = "https://crust.network"
repository = "https://github.com/crustio/crust/"

[dependencies]
# third party dependencies
serde = { version = "1.0.106", optional = true, features = ["derive"] }
parity-scale-codec = { version = "1.3.0", default-features = false, features = ["bit-vec", "derive"] }

# substrate primitives
sp-runtime = { version = '2.0.0-rc2', default-features = false }
sp-core = { version = '2.0.0-rc2', default-features = false }
sp-std = { version = '2.0.0-rc2', default-features = false }

[features]
default = ["std"]
std = [
	"parity-scale-codec/std",
	"sp-runtime/std",
	"sp-core/std",
	"sp-std/std",
	"serde",
]