[package]
name = 'crust'
version = '0.3.0'
authors = ['crustio']
build = 'build.rs'
edition = '2018'
license = "GPL-3.0"
homepage = "https://crust.network"
repository = "https://github.com/crustio/crust/"

[[bin]]
name = 'crust'

[dependencies]
# third parity dependencies
futures = "0.3.4"
log = "0.4.8"
structopt = "0.3.8"

# substrate client dependencies
babe = { version = '0.8.0-alpha.5', package = 'sc-consensus-babe' }
grandpa = { version = "0.8.0-alpha.5", package = "sc-finality-grandpa" }
sc-basic-authorship = '0.8.0-alpha.5'
authority-discovery = { version = '0.8.0-alpha.5', pacakge= 'sc-authority-discovery' }
sc-client = '0.8.0-alpha.5'
sc-client-api = '2.0.0-alpha.5'
sc-cli = '0.8.0-alpha.5'
sc-executor = '0.8.0-alpha.5'
sc-network = '0.8.0-alpha.5'
sc-service = '0.8.0-alpha.5'
sc-transaction-pool = '2.0.0-alpha.5'

# substrate primitives
sp-transaction-pool = '2.0.0-alpha.5'
sp-core = '2.0.0-alpha.5'
sp-consensus = '0.8.0-alpha.5'
sp-consensus-babe = '0.8.0-alpha.5'
sp-inherents = '2.0.0-alpha.5'
sp-io = '2.0.0-alpha.5'
sp-runtime = '2.0.0-alpha.5'
grandpa-primitives = { package = 'sp-finality-grandpa', version = '2.0.0-alpha.5' }

# crust runtime modules
crust-runtime = { path = 'runtime', version = '0.3.0' }
cstrml-staking = { path = 'cstrml/staking', version = '0.3.0' }
cstrml-tee = { path = 'cstrml/tee', version = '0.3.0' }
primitives = { package = 'cst-primitives', path = 'primitives', version = '0.3.0' }

[build-dependencies]
vergen = '3.0.4'
build-script-utils = { version = "2.0.0-alpha.5", package = "substrate-build-script-utils" }
