[package]
authors = ['crustio']
edition = '2018'
name = 'crust-rpc'
version = '0.8.2'
license = "GPL-3.0"
homepage = "https://crust.network"
repository = "https://github.com/crustio/crust/"

[dependencies]
jsonrpc-core = "14.0.3"
jsonrpc-pubsub = "14.0.3"
frame-rpc-system = { package = "substrate-frame-rpc-system", version = "2.0.0-rc6"  }
codec = { package = "parity-scale-codec", version = "1.3.4", default-features = false }

# substrate client dependencies
sc-client-api = "2.0.0-rc6"
sc-rpc = "2.0.0-rc6"
sc-consensus-babe = "0.8.0-rc6"
sc-consensus-babe-rpc = "0.8.0-rc6"
sc-consensus-epochs = "0.8.0-rc6"
sc-finality-grandpa = "0.8.0-rc6"
sc-finality-grandpa-rpc = "0.8.0-rc6"
sc-keystore = "2.0.0-rc6"

# substrate pallet dependencies
sp-blockchain = "2.0.0-rc6"
sp-runtime = "2.0.0-rc6"
sp-api = "2.0.0-rc6"
sp-consensus = "0.8.0-rc6"
sp-consensus-babe = "0.8.0-rc6"
txpool-api = { package = "sp-transaction-pool", version = "2.0.0-rc6" }
pallet-transaction-payment-rpc = "2.0.0-rc6"
sp-block-builder = "2.0.0-rc6"

# crust dependent
crust-primitives = { package = 'cst-primitives', path='../primitives' }
crust-runtime = { package = 'crust-runtime', path = '../runtime' }