[package]
authors = ['crustio']
edition = '2018'
name = 'crust-runtime'
version = '0.3.0'
build = 'build.rs'
license = "GPL-3.0"
homepage = "https://crust.network"
repository = "https://github.com/crustio/crust/"

[build-dependencies.wasm-builder-runner]
package = 'substrate-wasm-builder-runner'
version = '1.0.5'

[dependencies]
# third party dependencies
codec = { default-features = false, features = ['derive'], package = 'parity-scale-codec', version = '1.3.0' }
serde = { features = ['derive'], optional = true, version = '1.0.106' }

# substrate frame dependencies
authorship = { default-features = false, package = 'pallet-authorship', version = '2.0.0-alpha.6' }
authority-discovery = { default-features = false, package = 'pallet-authority-discovery', version = '2.0.0-alpha.6' }
babe = { default-features = false, package = 'pallet-babe', version = '2.0.0-alpha.6' }
collective = { default-features = false, package = 'pallet-collective', version = '2.0.0-alpha.6' }
frame-executive = { default-features = false, version = '2.0.0-alpha.6' }
frame-support = { default-features = false, version = "2.0.0-alpha.6" }
finality-tracker = { default-features = false, package = 'pallet-finality-tracker', version = '2.0.0-alpha.6' }
grandpa = { default-features = false, package = 'pallet-grandpa', version = '2.0.0-alpha.6' }
indices = { package = "pallet-indices", version = '2.0.0-alpha.6', default-features = false }
im-online = { default-features = false, package = 'pallet-im-online', version = '2.0.0-alpha.6' }
randomness-collective-flip = { default-features = false, package = 'pallet-randomness-collective-flip', version = '2.0.0-alpha.6' }
system = { default-features = false, package = 'frame-system', version = '2.0.0-alpha.6' }
session = { default-features = false, package = 'pallet-session', version = '2.0.0-alpha.6' }
pallet-staking-reward-curve = { default-features = false, version = '2.0.0-alpha.6' }
timestamp = { default-features = false, package = 'pallet-timestamp', version = '2.0.0-alpha.6' }
transaction-payment = { default-features = false, package = 'pallet-transaction-payment', version = '2.0.0-alpha.6' }
scheduler = { default-features = false, package = 'pallet-scheduler', version = '2.0.0-alpha.6' }

# substrate primitives
authority-discovery-primitives = { default-features = false, package = 'sp-authority-discovery', version = '2.0.0-alpha.6' }
babe-primitives = { default-features = false, package = 'sp-consensus-babe', version = '0.8.0-alpha.6' }
sp-api = { default-features = false, version = '2.0.0-alpha.6' }
sp-block-builder = { default-features = false, version = '2.0.0-alpha.6' }
sp-core = { default-features = false, version = '2.0.0-alpha.6' }
sp-inherents = { default-features = false, version = '2.0.0-alpha.6' }
sp-io = { default-features = false, version = '2.0.0-alpha.6' }
sp-offchain = { default-features = false, version = '2.0.0-alpha.6' }
sp-runtime = { default-features = false, version = '2.0.0-alpha.6' }
sp-session = { default-features = false, version = '2.0.0-alpha.6' }
sp-staking = { default-features = false, version = '2.0.0-alpha.6' }
sp-std = { default-features = false, version = '2.0.0-alpha.6' }
sp-transaction-pool = { default-features = false, version = '2.0.0-alpha.6' }
sp-version = { default-features = false, version = '2.0.0-alpha.6' }
sp-runtime-interface = { default-features = false, version = '2.0.0-alpha.6' }

# crust runtime modules
tee = { package = 'cstrml-tee', path = '../cstrml/tee', default-features = false }
staking = { package = 'cstrml-staking', path = '../cstrml/staking', default-features = false }
market = { package = 'cstrml-market', path = '../cstrml/market', default-features = false }
balances = { package = 'cstrml-balances', path = '../cstrml/balances', default-features = false }
payment = { package = 'cstrml-payment', path = '../cstrml/payment', default-features = false }
primitives = { package = 'cst-primitives', path = '../primitives', default-features = false }

[features]
default = ['std']
std = [
    'authorship/std',
    'authority-discovery-primitives/std',
    'authority-discovery/std',
    'babe/std',
    'babe-primitives/std',
    'balances/std',
    'codec/std',
    'collective/std',
    'frame-executive/std',
    'frame-support/std',
    'grandpa/std',
    'finality-tracker/std',
    'im-online/std',
    'indices/std',
    'randomness-collective-flip/std',
    'serde',
    'sp-api/std',
    'sp-block-builder/std',
    'sp-core/std',
    'sp-inherents/std',
    'sp-io/std',
    'sp-offchain/std',
    'sp-runtime/std',
    'sp-session/std',
    'sp-staking/std',
    'sp-std/std',
    'sp-transaction-pool/std',
    'sp-version/std',
    'session/std',
    'system/std',
    'timestamp/std',
    'transaction-payment/std',
    'scheduler/std',
    'sp-runtime-interface/std',
    'tee/std',
    'staking/std',
    'market/std',
    'payment/std',
    'primitives/std'
]