[package]
authors = ['crustio']
edition = '2018'
name = 'crust-runtime'
version = '0.10.0'
build = 'build.rs'
license = "GPL-3.0"
homepage = "https://crust.network"
repository = "https://github.com/crustio/crust/"

[build-dependencies]
substrate-wasm-builder = { version = "4.0.0", package = "substrate-wasm-builder", git = "https://github.com/paritytech/substrate", branch = "master" }

[dependencies]
# third party dependencies
codec = { default-features = false, features = ['derive'], package = 'parity-scale-codec', version = '2.0.0' }
serde = { features = ['derive'], optional = true, version = '1.0.116' }
static_assertions = "1.1.0"

# substrate frame dependencies
pallet-authorship = { default-features = false, git = "https://github.com/paritytech/substrate", branch = "master" }
pallet-authority-discovery = { default-features = false, git = "https://github.com/paritytech/substrate", branch = "master" }
pallet-babe = { default-features = false, git = "https://github.com/paritytech/substrate", branch = "master" }
pallet-collective = { default-features = false, git = "https://github.com/paritytech/substrate", branch = "master" }
pallet-grandpa = { default-features = false, git = "https://github.com/paritytech/substrate", branch = "master" }
pallet-indices = { git = "https://github.com/paritytech/substrate", branch = "master", default-features = false }
pallet-im-online = { default-features = false, git = "https://github.com/paritytech/substrate", branch = "master" }
pallet-randomness-collective-flip = { default-features = false, git = "https://github.com/paritytech/substrate", branch = "master" }
frame-system = { default-features = false, git = "https://github.com/paritytech/substrate", branch = "master" }
pallet-session = { default-features = false, git = "https://github.com/paritytech/substrate", branch = "master" }
pallet-staking-reward-curve = { default-features = false, git = "https://github.com/paritytech/substrate", branch = "master" }
pallet-timestamp = { default-features = false, git = "https://github.com/paritytech/substrate", branch = "master" }
pallet-transaction-payment = { default-features = false, git = "https://github.com/paritytech/substrate", branch = "master" }
pallet-scheduler = { default-features = false, git = "https://github.com/paritytech/substrate", branch = "master" }
pallet-sudo = { default-features = false, git = "https://github.com/paritytech/substrate", branch = "master" }
pallet-offences = { default-features = false, git = "https://github.com/paritytech/substrate", branch = "master" }
pallet-treasury = { default-features = false, git = "https://github.com/paritytech/substrate", branch = "master" }
pallet-bounties = { default-features = false, git = "https://github.com/paritytech/substrate", branch = "master" }
pallet-tips = { default-features = false, git = "https://github.com/paritytech/substrate", branch = "master" }
pallet-elections-phragmen = { default-features = false, git = "https://github.com/paritytech/substrate", branch = "master" }
pallet-democracy = { default-features = false, git = "https://github.com/paritytech/substrate", branch = "master" }
pallet-membership = { default-features = false, git = "https://github.com/paritytech/substrate", branch = "master" }
pallet-identity = { default-features = false, git = "https://github.com/paritytech/substrate", branch = "master"}
pallet-utility = { default-features = false, git = "https://github.com/paritytech/substrate", branch = "master" }

frame-executive = { default-features = false, git = "https://github.com/paritytech/substrate", branch = "master" }
frame-support = { default-features = false, git = "https://github.com/paritytech/substrate", branch = "master" }
frame-benchmarking = { default-features = false, git = "https://github.com/paritytech/substrate", branch = "master", optional = true }
frame-system-benchmarking = { default-features = false, git = "https://github.com/paritytech/substrate", branch = "master", optional = true }

# Used for the crust's RPCs
frame-system-rpc-runtime-api = { default-features = false, git = "https://github.com/paritytech/substrate", branch = "master" }
pallet-transaction-payment-rpc-runtime-api = { default-features = false, git = "https://github.com/paritytech/substrate", branch = "master" }

# substrate primitives
authority-discovery-primitives = { default-features = false, package = 'sp-authority-discovery', git = "https://github.com/paritytech/substrate", branch = "master" }
babe-primitives = { default-features = false, package = 'sp-consensus-babe', git = "https://github.com/paritytech/substrate", branch = "master" }
sp-api = { default-features = false, git = "https://github.com/paritytech/substrate", branch = "master" }
sp-io = { git = "https://github.com/paritytech/substrate", default-features = false, branch = "master" }
sp-block-builder = { default-features = false, git = "https://github.com/paritytech/substrate", branch = "master" }
sp-core = { default-features = false, git = "https://github.com/paritytech/substrate", branch = "master" }
sp-inherents = { default-features = false, git = "https://github.com/paritytech/substrate", branch = "master" }
sp-offchain = { default-features = false, git = "https://github.com/paritytech/substrate", branch = "master" }
sp-runtime = { default-features = false, git = "https://github.com/paritytech/substrate", branch = "master" }
sp-session = { default-features = false, git = "https://github.com/paritytech/substrate", branch = "master" }
sp-staking = { default-features = false, git = "https://github.com/paritytech/substrate", branch = "master" }
sp-std = { default-features = false, git = "https://github.com/paritytech/substrate", branch = "master" }
sp-transaction-pool = { default-features = false, git = "https://github.com/paritytech/substrate", branch = "master" }
sp-version = { default-features = false, git = "https://github.com/paritytech/substrate", branch = "master" }
sp-runtime-interface = { default-features = false, git = "https://github.com/paritytech/substrate", branch = "master" }

# crust runtime modules
swork = { version = "0.10.0", package = 'cstrml-swork', path = '../cstrml/swork', default-features = false }
staking = { version = "0.10.0", package = 'cstrml-staking', path = '../cstrml/staking', default-features = false }
market = { version = "0.10.0", package = 'cstrml-market', path = '../cstrml/market', default-features = false }
primitives = { version = "0.10.0", package = 'cst-primitives', path = '../primitives', default-features = false }
balances = { version = "0.10.0", package = 'cstrml-balances', path = '../cstrml/balances', default-features = false }
candy = { version = "0.10.0", package = 'cstrml-candy', path = '../cstrml/candy', default-features = false  }

cumulus-pallet-parachain-system = { git = "https://github.com/paritytech/cumulus", default-features = false, branch = "master" }
cumulus-primitives-core = { git = "https://github.com/paritytech/cumulus", default-features = false, branch = "master" }
parachain-info = { git = "https://github.com/paritytech/cumulus", default-features = false, branch = "master" }
cumulus-pallet-xcm-handler = { git = "https://github.com/paritytech/cumulus", default-features = false, branch = "master" }

# Polkadot dependencies
polkadot-parachain = { git = "https://github.com/paritytech/polkadot", default-features = false, branch = "master" }
xcm = { git = "https://github.com/paritytech/polkadot", default-features = false, branch = "master" }
xcm-builder = { git = "https://github.com/paritytech/polkadot", default-features = false, branch = "master" }
xcm-executor = { git = "https://github.com/paritytech/polkadot", default-features = false, branch = "master" }
funty = { version = "=1.1.0", default-features = false }

[features]
default = ['std']
std = [
    'pallet-authorship/std',
    'authority-discovery-primitives/std',
    'pallet-authority-discovery/std',
    'pallet-babe/std',
    'babe-primitives/std',
    'balances/std',
    'codec/std',
    'pallet-collective/std',
    'frame-executive/std',
    'frame-support/std',
    'pallet-grandpa/std',
    'pallet-im-online/std',
    'pallet-indices/std',
    'pallet-randomness-collective-flip/std',
    'serde',
    'sp-api/std',
    'sp-block-builder/std',
    'sp-core/std',
    'sp-inherents/std',
    'sp-offchain/std',
    'sp-runtime/std',
    'sp-session/std',
    'sp-staking/std',
    'sp-std/std',
    'sp-transaction-pool/std',
    'sp-version/std',
    'pallet-sudo/std',
    'pallet-session/std',
    'frame-system/std',
    'frame-system-rpc-runtime-api/std',
    'pallet-timestamp/std',
    'pallet-transaction-payment/std',
    'pallet-scheduler/std',
    'pallet-offences/std',
    'pallet-treasury/std',
    'pallet-bounties/std',
    'pallet-tips/std',
    'pallet-elections-phragmen/std',
    'pallet-transaction-payment-rpc-runtime-api/std',
    'pallet-democracy/std',
    'pallet-membership/std',
    'pallet-utility/std',
    'pallet-identity/std',
    'sp-runtime-interface/std',
    'swork/std',
    'staking/std',
    'market/std',
    'primitives/std',
    'candy/std',
    "parachain-info/std",
    "cumulus-pallet-parachain-system/std",
    "cumulus-primitives-core/std",
    "xcm/std",
    "xcm-builder/std",
    "xcm-executor/std",
    "cumulus-pallet-xcm-handler/std",
    "funty/std"
]
runtime-benchmarks = [
    "frame-benchmarking",
    "frame-support/runtime-benchmarks",
    "frame-system/runtime-benchmarks",
    "sp-runtime/runtime-benchmarks",
    "pallet-collective/runtime-benchmarks",
    "balances/runtime-benchmarks",
    "frame-system-benchmarking",
    "staking/runtime-benchmarks",
    "market/runtime-benchmarks",
    "swork/runtime-benchmarks"
]