[package]
name = "cstrml-market"
version = "0.3.0"
authors = ["Crustio"]
edition = "2018"
license = "GPL-3.0"
homepage = "https://crust.network"
repository = "https://github.com/crustio/crust/"

[dependencies]
# third party dependencies
codec = { default-features = false, package = 'parity-scale-codec', version = '1.3.0', features = ["derive"] }
serde = { optional = true, version = '1.0.106' }
serde_json = "1.0.51"

# substrate frames
system = { package = 'frame-system', default-features = false, version = '2.0.0-rc2' }
frame-support = { default-features = false, version = '2.0.0-rc2' }

# substrate primitives
sp-core = { default-features = false, version = '2.0.0-rc2' }
sp-io = { default-features = false, version = '2.0.0-rc2' }
sp-runtime = { default-features = false, version = '2.0.0-rc2' }
sp-std = { default-features = false, version = '2.0.0-rc2' }

# crust runtime modules
primitives = { package = 'cst-primitives', path = '../../primitives', default-features = false }

[features]
default = ['std']
std = [
    'serde',
    'codec/std',
    'frame-support/std',
    'sp-core/std',
    'sp-io/std',
    'sp-runtime/std',
    'sp-std/std',
    'system/std',
    'primitives/std',
]

[dev-dependencies]
hex = '0.4.2'
tee = { package = 'cstrml-tee', path = '../tee' }
balances = { package = 'pallet-balances', version = '2.0.0-rc2' }
