[package]
name = "cstrml-market"
version = "0.10.0"
authors = ["crustio"]
edition = "2018"
license = "GPL-3.0"
homepage = "https://crust.network"
repository = "https://github.com/crustio/crust/"

[dependencies]
# third party dependencies
codec = { default-features = false, package = 'parity-scale-codec', version = '1.3.4', features = ["derive"] }
serde = { optional = true, version = '1.0.116' }
serde_json = "1.0.51"

# substrate frames
frame-system = { default-features = false, git = "https://github.com/paritytech/substrate", rev = "668ecade60abe5a644868aefd3d231c9839fe652" }
frame-support = { default-features = false, git = "https://github.com/paritytech/substrate", rev = "668ecade60abe5a644868aefd3d231c9839fe652" }

# substrate primitives
sp-core = { default-features = false, git = "https://github.com/paritytech/substrate", rev = "668ecade60abe5a644868aefd3d231c9839fe652" }
sp-io = { default-features = false, git = "https://github.com/paritytech/substrate", rev = "668ecade60abe5a644868aefd3d231c9839fe652" }
sp-runtime = { default-features = false, git = "https://github.com/paritytech/substrate", rev = "668ecade60abe5a644868aefd3d231c9839fe652" }
sp-std = { default-features = false, git = "https://github.com/paritytech/substrate", rev = "668ecade60abe5a644868aefd3d231c9839fe652" }

frame-benchmarking = { git = "https://github.com/paritytech/substrate", rev = "668ecade60abe5a644868aefd3d231c9839fe652", default-features = false, optional = true }

# crust runtime modules
primitives = { version = "0.10.0", package = 'cst-primitives', path = '../../primitives', default-features = false }

[features]
default = ['std']
std = [
    'serde',
    'codec/std',
    'frame-support/std',
    'sp-core/std',
    'sp-io/std',
    'sp-runtime/std',
    'sp-std/std',
    'frame-system/std',
    'primitives/std',
]
runtime-benchmarks = [
    "frame-benchmarking",
]

[dev-dependencies]
hex = '0.4.2'
swork = { version = "0.10.0", package = 'cstrml-swork', path = '../swork' }
balances = { version = "0.10.0", package = 'cstrml-balances', path = '../balances' }
frame-benchmarking = { git = "https://github.com/paritytech/substrate", rev = "668ecade60abe5a644868aefd3d231c9839fe652" }
