[package]
name = "cstrml-staking"
version = "0.8.1"
authors = ["crustio"]
edition = "2018"
license = "GPL-3.0"
homepage = "https://crust.network"
repository = "https://github.com/crustio/crust/"

[dependencies]
# third party dependencies
serde = { version = "1.0.106", optional = true }
safe-mix = { version = "1.0.0", default-features = false }
codec = { package = "parity-scale-codec", version = "1.3.4", default-features = false, features = ["derive"] }

# substrate frame dependencies
frame-support = { version = '2.0.0-rc6', default-features = false }
frame-system = { version = '2.0.0-rc6', default-features = false }
pallet-session = { version = '2.0.0-rc6', features = ["historical"], default-features = false }
pallet-authorship = { version = '2.0.0-rc6', default-features = false }

# substrate primitives
sp-keyring = { optional = true, version = '2.0.0-rc6' }
sp-std = { version = '2.0.0-rc6', default-features = false }
sp-io ={ version = '2.0.0-rc6', default-features = false }
sp-runtime = { version = '2.0.0-rc6', default-features = false }
sp-staking = { version = '2.0.0-rc6', default-features = false }
frame-benchmarking = { version = '2.0.0-rc6', default-features = false, optional = true }
rand_chacha = { version = "0.2", default-features = false }

# crust runtime modules
swork = { package = "cstrml-swork", path = "../swork", default-features = false }
primitives = { package = 'cst-primitives', path = '../../primitives', default-features = false }

[dev-dependencies]
sp-core = '2.0.0-rc6'
balances = { package = 'cstrml-balances', path = '../balances' }
pallet-timestamp = '2.0.0-rc6'
frame-benchmarking = { version = '2.0.0-rc6' }

# private crate inside substrate
substrate-test-utils = { version = '2.0.0-alpha.5', git = 'https://github.com/paritytech/substrate.git', rev = 'd1b9ccad107e4899978858de5ddd2868b9777aab'}

[features]
equalize = []
migrate = []
default = ["std", "equalize"]
std = [
	"serde",
	"safe-mix/std",
	"sp-keyring",
	"codec/std",
	"sp-std/std",
	"sp-io/std",
	"frame-support/std",
	"sp-runtime/std",
	"sp-staking/std",
	"pallet-session/std",
	"primitives/std",
	"frame-system/std",
	"pallet-authorship/std",
	"swork/std"
]
runtime-benchmarks = [
    "frame-benchmarking",
]