[package]
name = "cstrml-staking"
version = "0.11.0"
authors = ["crustio"]
edition = "2018"
license = "GPL-3.0"
homepage = "https://crust.network"
repository = "https://github.com/crustio/crust/"

[dependencies]
# third party dependencies
serde = { version = "1.0.116", optional = true }
safe-mix = { version = "1.0.0", default-features = false }
codec = { package = "parity-scale-codec", version = "1.3.4", default-features = false, features = ["derive"] }

# substrate frame dependencies
frame-support = { version = "2.0.1", default-features = false }
frame-system = { version = "2.0.1", default-features = false }
pallet-session = { version = "2.0.1", features = ["historical"], default-features = false }
pallet-authorship = { version = "2.0.1", default-features = false }

# substrate primitives
sp-keyring = { optional = true, version = "2.0.1" }
sp-std = { version = "2.0.1", default-features = false }
sp-io ={ version = "2.0.1", default-features = false }
sp-runtime = { version = "2.0.1", default-features = false }
sp-staking = { version = "2.0.1", default-features = false }
frame-benchmarking = { version = "2.0.1", default-features = false, optional = true }
rand_chacha = { version = "0.2", default-features = false }

# crust runtime modules
swork = { version = "0.11.0", package = "cstrml-swork", path = "../swork", default-features = false }
primitives = { version = "0.11.0", package = 'cst-primitives', path = '../../primitives', default-features = false }

[dev-dependencies]
sp-core = "2.0.1"
balances = { version = "0.11.0", package = 'cstrml-balances', path = '../balances' }
pallet-timestamp = "2.0.1"
frame-benchmarking = "2.0.1"

# private crate inside substrate
substrate-test-utils = "2.0.1"

[features]
equalize = []
migrate = []
default = ["std", "equalize"]
std = [
	"serde",
	"safe-mix/std",
	"sp-keyring",
	"codec/std",
	"sp-std/std",
	"sp-io/std",
	"frame-support/std",
	"sp-runtime/std",
	"sp-staking/std",
	"pallet-session/std",
	"frame-system/std",
	"pallet-authorship/std",
	"swork/std"
]
runtime-benchmarks = [
    "frame-benchmarking",
]