[package]
name = 'crust'
version = '0.6.0'
authors = ['crustio']
build = 'build.rs'
edition = '2018'
license = "GPL-3.0"
homepage = "https://crust.network"
repository = "https://github.com/crustio/crust/"

[[bin]]
name = 'crust'

[dependencies]
# third parity dependencies
futures = "0.3.4"
log = "0.4.8"
structopt = { version = '0.3.8', optional = true }
hex-literal = "0.2.1"

# substrate client dependencies
babe = { version = '0.8.0-rc4', package = 'sc-consensus-babe' }
grandpa = { version = "0.8.0-rc4", package = "sc-finality-grandpa" }
sc-basic-authorship = '0.8.0-rc4'
authority-discovery = { version = '0.8.0-rc4', package= 'sc-authority-discovery' }
sc-client-api = '2.0.0-rc4'
sc-cli = { version = '0.8.0-rc4', features = ["wasmtime"], optional = true }
sc-consensus = '0.8.0-rc4'
sc-executor = { version = '0.8.0-rc4', features = ["wasmtime"] }
sc-network = '0.8.0-rc4'
sc-service = { version = '0.8.0-rc4', features = ["wasmtime"] }
sc-transaction-pool = '2.0.0-rc4'

# substrate primitives
sp-transaction-pool = '2.0.0-rc4'
sp-core = '2.0.0-rc4'
sp-consensus = '0.8.0-rc4'
sp-consensus-babe = '0.8.0-rc4'
sp-inherents = '2.0.0-rc4'
sp-io = '2.0.0-rc4'
sp-runtime = '2.0.0-rc4'
grandpa-primitives = { package = 'sp-finality-grandpa', version = '2.0.0-rc4' }
frame-benchmarking-cli = { version = "2.0.0-rc4", optional = true }
frame-benchmarking = '2.0.0-rc4'

# crust runtime modules
crust-runtime = { path = '../runtime', version = '0.6.0' }
cstrml-staking = { path = '../cstrml/staking', version = '0.6.0' }
cstrml-tee = { path = '../cstrml/tee', version = '0.6.0' }
primitives = { package = 'cst-primitives', path = '../primitives', version = '0.6.0' }

[build-dependencies]
build-script-utils = { version = "2.0.0-rc4",  package = "substrate-build-script-utils", optional = true }
frame-benchmarking-cli = { version = "2.0.0-rc4", optional = true }

[features]
default = [ "cli" ]
cli = [
    "wasmi-errno",
	"sc-cli",
	"frame-benchmarking-cli",
	"sc-service/db",
	"structopt",
	"build-script-utils",
]

runtime-benchmarks = [
	"crust-runtime/runtime-benchmarks",
	"frame-benchmarking-cli",
]

wasmtime = [
	"sc-executor/wasmtime",
]

wasmi-errno = [
	"sc-executor/wasmi-errno",
]
