[package]
name = 'crust'
version = '0.11.1'
authors = ['crustio']
build = 'build.rs'
edition = '2018'
license = "GPL-3.0"
homepage = "https://crust.network"
repository = "https://github.com/crustio/crust/"

[[bin]]
name = 'crust'

[dependencies]
# third parity dependencies
futures = "0.3.8"
log = "0.4.11"
structopt = { version = '0.3.21', optional = true }
hex-literal = "0.3.1"

# substrate client dependencies
authority-discovery = { package = 'sc-authority-discovery', git = "https://github.com/paritytech/substrate", branch = "master" }
sc-consensus-babe = { git = "https://github.com/paritytech/substrate", branch = "master" }
sc-finality-grandpa  = { git = "https://github.com/paritytech/substrate", branch = "master" }
sc-basic-authorship = { git = "https://github.com/paritytech/substrate", branch = "master" }
sc-client-api = { git = "https://github.com/paritytech/substrate", branch = "master" }
sc-cli = {  git = "https://github.com/paritytech/substrate", branch = "master", features = ["wasmtime"], optional = true }
sc-consensus = { git = "https://github.com/paritytech/substrate", branch = "master" }
sc-consensus-slots = { git = "https://github.com/paritytech/substrate", branch = "master" }
sc-executor = {  git = "https://github.com/paritytech/substrate", branch = "master", features = ["wasmtime"] }
sc-network = { git = "https://github.com/paritytech/substrate", branch = "master" }
sc-service = {  git = "https://github.com/paritytech/substrate", branch = "master", features = ["wasmtime"] }
sc-transaction-pool = { git = "https://github.com/paritytech/substrate", branch = "master" }

# substrate primitives
sp-transaction-pool = { git = "https://github.com/paritytech/substrate", branch = "master" }
sp-core = { git = "https://github.com/paritytech/substrate", branch = "master" }
sp-consensus = { git = "https://github.com/paritytech/substrate", branch = "master" }
sp-consensus-babe = { git = "https://github.com/paritytech/substrate", branch = "master" }
sp-inherents = { git = "https://github.com/paritytech/substrate", branch = "master" }
sp-io = { git = "https://github.com/paritytech/substrate", branch = "master" }
sp-runtime = { git = "https://github.com/paritytech/substrate", branch = "master" }
sp-finality-grandpa = { git = "https://github.com/paritytech/substrate", branch = "master" }
frame-benchmarking-cli = { git = "https://github.com/paritytech/substrate", branch = "master", optional = true }
frame-benchmarking = { git = "https://github.com/paritytech/substrate", branch = "master" }

# crust runtime modules
crust-runtime = { path = '../runtime', version = '0.11.1' }
cstrml-staking = { path = '../cstrml/staking', version = '0.11.1' }
cstrml-swork = { path = '../cstrml/swork', version = '0.11.1' }
primitives = { package = 'cst-primitives', path = '../primitives', version = '0.11.1' }
crust-rpc = { path =  '../rpc', version = '0.11.1' }

[build-dependencies]
substrate-build-script-utils = { git = "https://github.com/paritytech/substrate", branch = "master" }
frame-benchmarking-cli = { git = "https://github.com/paritytech/substrate", branch = "master", optional = true }

[features]
default = [ "cli" ]
cli = [
    "wasmi-errno",
    "sc-cli",
    "frame-benchmarking-cli",
    "sc-service/db",
    "structopt",
]

runtime-benchmarks = [
    "crust-runtime/runtime-benchmarks",
    "frame-benchmarking-cli",
]

wasmtime = [
    "sc-executor/wasmtime",
]

wasmi-errno = [
    "sc-executor/wasmi-errno",
]