name: Crust CI

on: 
  push:
    branches: 
      - master
      - feature/*
  pull_request:
    branches:
      - master
      - feature/*
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - name: Cache cargo registry
        uses: actions/cache@v1
        with:
          path: ~/.cargo/registry
          key: ${{ runner.os }}-cargo-registry-${{ hashFiles('**/Cargo.toml') }}
      - name: Cache cargo index
        uses: actions/cache@v1
        with:
          path: ~/.cargo/git
          key: ${{ runner.os }}-cargo-index-${{ hashFiles('**/Cargo.toml') }}
      - name: Cache target directory
        id: cache-target
        uses: actions/cache@v1
        with:
          path: target
          key: ${{ runner.os }}-cargo-build-target2-${{ hashFiles('**/Cargo.toml') }}
      - run: sudo apt-get remove -y clang-6.0 libclang-common-6.0-dev libclang1-6.0 libllvm6.0
      - run: sudo apt update && sudo apt install -y cmake pkg-config libssl-dev git gcc build-essential clang libclang-dev
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: nightly-2020-03-06-x86_64-unknown-linux-gnu
          target: wasm32-unknown-unknown
          override: true
      - name: Cargo build
        uses: actions-rs/cargo@v1
        with:
          use-cross: false
          command: build
  test-staking:
    name: Test Staking Module
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Cargo test staking
        uses: actions-rs/cargo@v1
        with:
          use-cross: false
          command: test
          args: --package cstrml-staking --lib tests
  test-swork:
    name: Test sWork Module
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Cargo test swork
        uses: actions-rs/cargo@v1
        with:
          use-cross: false
          command: test
          args: --package cstrml-swork --lib tests
  test-market:
    name: Test Markst Module
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Cargo test storage order
        uses: actions-rs/cargo@v1
        with:
          use-cross: false
          command: test
          args: --package cstrml-market --lib tests
  test-payment:
    name: Test Payment Module
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Cargo test payment
        uses: actions-rs/cargo@v1
        with:
          use-cross: false
          command: test
          args: --package cstrml-payment --lib tests
  test-balances:
    name: Test Balances Module
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Cargo test balances
        uses: actions-rs/cargo@v1
        with:
          use-cross: false
          command: test
          args: --package cstrml-balances --lib tests
